spring:
  application:
    name: LearningRESTAPIs

  datasource:
    url: jdbc:postgresql://localhost:5432/shubham
    username: postgres
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  server:
    servlet:
      context-path: /api
